# Virtual environment
venv/
env/
myenv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Downloaded music files
music/
downloads/

# Environment variables
.env

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/